:root {
	height: 100%;

	--main-bg-color: rgb(241,243,255);

	font-size: 1.5em;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #111;

	background: linear-gradient(135deg, #F7CED7, rgba(239,96,120,1));

	margin: 0;
	width: auto; height: auto;
}

h1 {
	font-size: 10vw;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}

.card {
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0,0,0,0.22);
}

.page-header {
	background-color: var(--main-bg-color);

	margin: max(2em, 10vmin);

	display: flex;
	justify-content: center;
}

.main-container {
	background-color: var(--main-bg-color);
	box-shadow: inset 0 20px 40px rgba(0,0,0,0.3), inset 0 15px 12px rgba(0,0,0,0.22);

	padding: 5rem;

	display: flex;
	justify-content: center;
}

.page-main {
	max-width: /* max number of characters per line */ 60ch;
	width: 100%;
}

.mid-image {
	display: table;
	text-align: center;
	margin: 2em auto;
}

.mid-image figcaption {
	display: table-caption;
	caption-side: right;
	padding: 0.5em;
}

footer {
	padding: 2.5rem .5rem;
	background-color: Lightpink;
	font-size: 20px;
}

.page-footer {
	text-align: left;
}

.row {
	display: flex;
	justify-content: center;
}

.column {
	flex: 50%;
	padding: 0 2rem;
	max-width: 60ch;
}

.column:last-child {
	padding-right: 0;
}

@media screen and (max-width: 750px) {
	.page-footer .row {
		flex-direction: column;
	}
}
